PORT=your-port
DATABASE_URL=your-database_url
MOCK_DATABASE_URL=your-mock_database_url
GOOGLE_CLIENT_ID=your-google_client_id
JWT_SECRET=your-jwt_secret
STORAGE_DRIVER=your-storage_driver
CDN_BASE_URL=your-cdn_base_url
CDN_API_KEY=your-cdn_api_key